<!-- Partial view :  Main container -->

<div class="patientHome">

	<h3> <img src="../images/utilisateur2.jpeg" style="height:50px;"> {{patient.name}} </h3>

	<!-- Nav -->
    <nav>
    	<ul class="nav navbar-nav">
    		<li> <a ui-sref="patientInformations.medicalRecord({id: $stateParams.id})" class="btn btn-default" ng-class="{active : $state.is('patientInformations.medicalRecord') }">Medical record</a> </li>
    		<li> <a class="btn btn-default"> Add prescription </a> </li>
    		<li> <a class="btn btn-default"> Add disease </a> </li>
    	</ul>
    </nav>

    <div ui-view></div>
</div>